h1{
    color: cornflowerblue;
}

/* Psuedo Classes Example*/

a:link{
    color:red;
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited{
    color: green;
    
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: yellow;
}